@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

/*Método Mobile Fist*/

/* Typical Device Breakpoints
-----------------------------

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

/*CRES DO PROJETO:
Branco: #ffffff
Preto: #000000
Laranja escuro: #ff6927
Laranja claro: #ffa983
Azul claro: #40c7ff
Vermelho: ff1800
*/

/*Root */

:root{
    --cor-botao:#ff6927;
    --color-azul-fundo: #40c7ff;
    --cor-cronograma-curso: #ffa983;
    --fundo-do-site:#ffffff;
    --cor-da-letra:#000000
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
  background-color: var(--fundo-do-site);
  height: 100vh;
  width: 100vw;
}

main{
  position: relative;
  height: 100vh;
  width: 100vw;
}


#topo{
  background: #ffa983 url(../imagens/imagens/topo.png) no-repeat;
  background-size: contain;
  background-position: center center;
  width: 768px;
  height: 390px;
}
#topo > div#slogan{
  background-color: rgba(255, 255, 255, 0.249);
  color: var(--fundo-do-site);
  width: 250px;
  height: 150px;

  position: absolute;
  top: 30%;
  left: 8%;
}

#topo > div#logo{
  background-color: rgba(255, 255, 255, 0.249);
  color: var(--fundo-do-site);
  width: 250px;
  height: 150px;
  position: absolute;
  top: 30%;
  left: 50%;
}

#topo > div#logo > img{
  position: relative;
  left: 20%;
  width: 150px;
  height: 150px;
}

#topo > div > p{
  font-size: 2.5em;
}

.linha-laranja{
  background-color: #ff6927;
  width: 768px;
  height: 50px;
}

#cronograma{
  background-color: gray;
  width: 768px;
  height: 250px;
}

.linha-azul{
  background-color: #40c7ff;
  width: 768px;
  height: 50px;
}

#certificados{
  background-color: rgb(165, 164, 164);
  width: 768px;
  height: 250px;
}


#pessoas{
  background-color: gray;
  width: 768px;
  height: 250px;
}

#iframes{
  background-color: rgb(165, 164, 164);
  width: 768px;
  height: 250px;
}

#empresas{
  background-color: gray;
  width: 768px;
  height: 250px;
}

#formulario{
background-color: rgb(165, 164, 164);
  width: 768px;
  height: 250px;
}

footer{
  background-color: var(--color-azul-fundo);
  width: 768px;
  height: 50px;
  font-size: 0.8em;
  text-align: center;
  color:var(--fundo-do-site);
}